## NAME : NARIND VERMA
## BATCH : 01 AIML
## SAP ID : 500121898
## ROLL NUMBER: R2142230922

## LOADING AND PREPROCESSING

In [95]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [96]:
train = pd.read_csv("city_day.csv")

In [97]:
train['AQI'].isnull().sum()

4681

In [98]:
train = train.dropna()

In [99]:
train = train.drop_duplicates()

In [100]:
train.drop(columns=['City'], inplace=True)

In [101]:
train

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2123,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2124,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
2125,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
2126,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
2127,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,2020-06-26,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0,Good
29526,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6236 entries, 2123 to 29529
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        6236 non-null   object
 1   PM2.5       6236 non-null   float64
 2   PM10        6236 non-null   float64
 3   NO          6236 non-null   float64
 4   NO2         6236 non-null   float64
 5   NOx         6236 non-null   float64
 6   NH3         6236 non-null   float64
 7   CO          6236 non-null   float64
 8   SO2         6236 non-null   float64
 9   O3          6236 non-null   float64
 10  Benzene     6236 non-null   float64
 11  Toluene     6236 non-null   float64
 12  Xylene      6236 non-null   float64
 13  AQI         6236 non-null   float64
 14  AQI_Bucket  6236 non-null   object
dtypes: float64(13), object(2)
memory usage: 779.5+ KB

## CHANGING DATE FROM OBJECT TO DATE TYPE

In [110]:
train['Date'] = pd.to_datetime(train['Date'])
train['Year'] = train['Date'].dt.year
train['Month'] = train['Date'].dt.month
train['Day'] = train['Date'].dt.day

# Drop the original 'Date' column
train.drop(columns=['Date'], inplace=True)

In [104]:
train['AQI_Bucket'].unique()

array(['Moderate', 'Poor', 'Very Poor', 'Satisfactory', 'Good', 'Severe'],
      dtype=object)

## CHANGING OBJECT FIELD TO NUMERIC

In [105]:
train['AQI_Bucket'] = train['AQI_Bucket'].replace({
    'Moderate': 3,
    'Poor': 2,
    'Very Poor': 1,
    'Satisfactory': 4,
    'Good': 5,
    'Severe': -1,
    ' ': 0
})

## APPLYING LINEAR REGRESSION

In [106]:
lr = LinearRegression()

In [107]:
from sklearn.model_selection import train_test_split

In [117]:
X = train[['Year'	,'Month','Day','PM2.5',	'PM10',	'NO',	'NO2',	'NOx'	,'NH3'	,'CO',	'SO2',	'O3',	'Benzene',	'Toluene'	,'Xylene',	'AQI_Bucket']]  # Features
y = train['AQI']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [118]:
from sklearn.metrics import mean_squared_error, r2_score

## EVALUATION

In [ ]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R² Score: {r2}")

Mean Squared Error: 427.4083551867533
R² Score: 0.9486301029456661